<footer id="footer" class="site-footer">
  {% include footer-custom.html %}

  {%- if site.footer_links -%}
    <div class="social-icons">
      {%- for footer_link in site.footer_links -%}
        {%- if footer_link.url contains "://" -%}
          {%- assign url = footer_link.url -%}
        {%- else -%}
          {%- assign url = footer_link.url | relative_url -%}
        {%- endif -%}
        <a class="social-icon" href="{{ url }}"><i class="{{ footer_link.icon | default: 'fas fa-link' }} fa-2x" title="{{ footer_link.title }}"></i></a>
      {%- endfor -%}
    </div>
  {%- endif -%}

  <div class="copyright">
    {% if site.copyright %}
      {{ site.copyright | markdownify }}
    {% else %}
    <p class="lines" style="text-align: center;">
      &copy; 2015 - {{ site.time | date: '%Y' }} {{ site.title }}
      <p class="lines2" style="text-align: center;">Design by
        <a href="https://github.com/mmistakes/so-simple-theme" style="color: #D72323;">mmistakes</a> | Hosted on
        <a href="https://www.netlify.com/" style="color: #D72323;">Netlify</a>
      </p>
      <p class="lines" style="text-align: center;">Made with ☕ in Swatara Twp, PA</p>
      <p class="lines2" style="text-align: center;">v.6.3.0</p>
      <p style="margin-bottom: .45rem;">
        <a href="https://xn--sr8hvo.ws/%F0%9F%92%9E%F0%9F%9B%85%F0%9F%94%AD/previous">←</a>
        An IndieWeb Webring 🕸💍
        <a href="https://xn--sr8hvo.ws/%F0%9F%92%9E%F0%9F%9B%85%F0%9F%94%AD/next">→</a>
      </p>
    </p>
    <a href="/"><img class="align-center lines2" src="https://res.cloudinary.com/thatmacnerd/image/upload/ar_1:1,bo_5px_solid_rgb:ff0000,c_fill,g_auto,h_95,q_100,r_max,w_95/v1565143270/tiffanywhite.png" alt="tiffany.blog_logo"></a>
    {% endif %}
  </div>
</footer>
