<!-- start custom head snippets -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bigfoot/2.1.4/bigfoot.min.js"></script>
  <link rel="stylesheet" href="/assets/css/bigfoot-number.css">
  <link rel="stylesheet" href="/assets/css/dark-mode.css">
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <script type="text/javascript">
    var bigfoot = $.bigfoot({
      actionOriginalFN: "hide",
      positionContent: "true"
    });
  </script>
  <meta name="p:domain_verify" content="bb20259b85b3f08bfc5e30d9cf8be2cc"/>
  <a href="https://micro.blog/tiffany" rel="me">Micro.blog</a>
  <!-- <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      ((localStorage.getItem('mode') || 'dark') === 'dark') ? document.querySelector('body').classList.add('dark') : document.querySelector('body').classList.remove('dark')
    })
  </script> -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
