<!-- start custom head snippets -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bigfoot/2.1.4/bigfoot.min.js"></script>
  <link rel="stylesheet" href="/assets/css/bigfoot-number.css">
  <link rel="stylesheet" href="/assets/css/dark-mode.css">
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <script type="text/javascript">
    var bigfoot = $.bigfoot({
      actionOriginalFN: "hide",
      positionContent: "true"
    });
  </script>
  <!-- <script src="{{'../assets/js/mode-switcher.js' | relative_url}}"></script> -->
  <meta name="p:domain_verify" content="bb20259b85b3f08bfc5e30d9cf8be2cc"/>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/flexslider.css' | relative_url }}">
  <!-- <link rel="stylesheet" href="/assets/css/dark-mode.css">
    <script>
      const theme = localStorage.getItem('theme');
      if (theme === "dark") {
        document.documentElement.setAttribute('data-theme', 'dark');
      }
    </script>
<script type="module" src="https://unpkg.com/dark-mode-toggle"></script> -->


<!-- end custom head snippets -->
