/* ==========================================================================
   Base elements
   ========================================================================== */

html {
  @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
}

body {
  background: $background-color;
  color: $text-color;
  border-top: solid 0.25em $nav-background-color;
}

body {
  transition: background 1s ease-in, color 1s ease-in;
}
.dark {
  color: rgb(247, 247, 247);
  background:#191919
}

.fasc-button {
  border-radius: 5px;
  padding: 4px;
}

blockquote,
q {
  border-color: $accent-color;
  border-width: 0.5em;
  background-color:rgb(247, 247, 247);
   /*Box Shadow - (Optional)*/
   -moz-box-shadow: 2px 2px 15px #ccc;
   -webkit-box-shadow: 2px 2px 15px #ccc;
   box-shadow: 2px 2px 15px #ccc;
  footer {
    font-size: 80%;
    font-style: normal;

    &::before {
      padding-right: 0.25rem;
      content: "\2014";
    }
  }
}

code,
kbd,
samp,
pre {
  font-family: $monospace-font-family;
}

kbd {
  display: inline-block;
  margin: 0 0.125em;
  padding: 0.125em 0.5em;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  background-color: rgb(247, 247, 247);
  font-size: 85%;
  text-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline-font-family;
  text-rendering: optimizeLegibility; /* enable common ligatures and kerning */
}

h1 {
  text-align: center;
}

h1 {
  @include fluid-type($min-vw, $max-vw, $h1-min, $h1-max);
}

h2 {
  @include fluid-type($min-vw, $max-vw, $h2-min, $h2-max);
}

h3 {
  @include fluid-type($min-vw, $max-vw, $h3-min, $h3-max);
}

h4 {
  @include fluid-type($min-vw, $max-vw, $h4-min, $h4-max);
}

h5 {
  @include fluid-type($min-vw, $max-vw, $h5-min, $h5-max);
}

h6 {
  @include fluid-type($min-vw, $max-vw, $h6-min, $h6-max);
}

.anchorjs-link:hover {
  color: #fb2300;
}
*:hover > .anchorjs-link {
  transition: color .25s linear;
}

dt {
  font-weight: bold;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

dd {
  margin: 0;
}

pre {
  @include fluid-type($min-vw, $max-vw, 12px, 14px);
}

figcaption {
  margin: 0.5rem 0;
  font-size: 80%;
}

.fa-twitter-square {
  color: #1da1f2;
}

.fa-instagram {
  color: #843AB5;
}

.fa-itunes {
  color: #ff0084;
}

.fa-youtube {
  color: #cd201f;
}


.fa-pinterest-square {
  color: #bd081c;
}


.fa-rss-square {
  color: #fa9b39;
}

.fa-microphone {
  color: #6638F0;
}

.fa-file-medical-alt {
  color: #fe7a16;
}

.fa-code {
  color: #00bf8f;
}

.fa-spotify {
  color: #1ed760;
}

.fa-vimeo-square {
  color: $vimeo-color;
}

a {
  color: $link-color;
  -webkit-transition: $global-transition;
  transition: $global-transition;

  &:hover {
    color: shade($accent-color, 25%);
  }
}

.cmd {
  text-align: center;
  text-decoration: none;
  color: $link-color;
  margin-top: 1rem;
  font-style: normal;
  // margin-right: 4rem;
}

.cmd:hover {
  color: shade($accent-color, 25%);
}

.no-color {
  color: $text-color;
  text-decoration: none;
}

// .move {
//   text-align: right;
//   margin-left: 30rem;
//   margin-top: -20rem;
// }

.pad {
  padding: .2em;
}
.container {
  display: flex;
  flex-direction: row;
  padding: .6rem;
  margin-left: -.9rem;
}

.hidden {
  display: none;
}
