name: Trigger Netlify Build
on:
  schedule:
    - cron: '15 6 * * *' # every Sunday at 12 am.
jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    steps:
      - name: Curl request
        run: curl -X POST -d {} https://api.netlify.com/build_hooks/5ed190ab8db2b80180dbdc87
